UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
REFOLD_TRIGGER_URL=
REFOLD_STATUS_URL_TEMPLATE=https://uat.refold.ai/api/v1/execution/{executionId}/response
REFOLD_API_KEY=
REFOLD_LINKED_ACCOUNT_ID=
REFOLD_SLUG=
REFOLD_SYNC_EXECUTION=false
REFOLD_WORKFLOW_2_TRIGGER_URL=
REFOLD_SLUG_WORKFLOW_2=
